@charset "UTF-8";

:root {
  --color1: #000;
  --color2: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  /* border: 1px solid white; */
}

html,
body {
  background: var(--color2);
  width: 100%;
  height: 100%;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

/* index.html */
.bgblack {
  background: var(--color1);
}

.welcome {
  margin: auto;
  padding-top: 10%;
  width: 70%;
  max-width: 300px;
  text-align: center;
  display: table;
  height: 100%;
}

.welcome div {
  display: table-row;
  vertical-align: middle;
}

.welcome .title img {
  width: 75%;
}

.welcome div img {
  width: 90%;
}

.welcome button {
  width: 60%;
  padding: 10px 0;
}

/* fine index.html */

header {
  display: block;
  position: fixed;
  padding: 10px 0px;
  top: 0;
  width: 100%;
  height: 130px;
  text-align: center;
  background: var(--color1);
  box-shadow: 0 0 10px #000;
  z-index: 2000;
}

header .logo img {
  margin: auto;
  margin-top: 40px;
  width: 40%;
  max-width: 300px;
}

/* table */
.wrap_table {
  position: relative;
  width: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.btn_table {
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(173, 185, 181);
  position: relative;
  width: 80%;
  margin: auto;
  padding: 15px;
  top: 70%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

/* fine table */

/* cover */
main {
  display: table;
  margin: auto;
  margin-top: 60%;
  width: 90%;
  color: white;
  text-align: center;
}

.categoria li {
  display: inline-block;
  margin: 10px;
  width: 40%;
  height: 15vh;
  list-style: none;
  border: 1px solid white;
}

/* fine cover */

/* panino list */
input[type="radio"] {
  display: none;
}

label {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 10px 50px;
  font-size: 5vw;
  border: 2px solid;
  border-radius: 10px;
}

input[type="radio"]:checked+label {
  background-color: var(--color1);
  border-color: var(--color1);
}

/* fine panino list */